{% extends "baseRestaurant.html" %}

{% block content %}
<h1 class="title" style = "font-size: 300%;  ">
  FDS Restaurant Menu
</h1>
<h2 class="subtitle" style = "font-size: 200%">
    Hi {{ current_user.firstName }}!
</h2>
<table class="table" style="margin-left:auto;margin-right:auto;">
    <thead class="thead">
        <tr>
            <th>Food Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Availability</th>
            <th>Quantity</th>
            <th>Update Item</th>
        </tr>
    </thead>
    <tbody>
        {% for item in foodItem_list %}
        <tr>
            <td>{{item.fname}}</td>
            <td>${{item.price}}</td>
            <td>{{item.category}}</td>
            <td>{{item.availability}}</td>
            <td>{{item.quantity}}</td>
            <td style="text-align: center;">
                <form action="{{url_for('view.update_foodItem', fname=item.fname)}}" method="post"> 
                    <input type="hidden" name="_method" value="UPDATE">
                    <input type="submit" value="Update" class="button is-block is-info is-small">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form action="/addFoodItem" method="post">
    <div class= "buttons has-addons is-centered">
        <button class="button is-block is-info is-medium button-padding-horizontal:2em" name="addButton" type="submit">Add Item</button>
    </div>
</form>

{% endblock %}