{% extends "baseRestaurant.html" %}

{% block content %}
<h1 class="title" style="font-size: 300%;  ">
    Update Food Quantity
</h1>

<form method="POST">
    {{ form.csrf_token }}
    <table class="table" style="margin-left:auto;margin-right:auto;">
        <tbody class="tbody">
            <tr>
                <td><b> Update Quantity </b></td>
                <td>
                    <input class="input" type="number" placeholder="Eg. 100" name="quantity"
                        value="{{ request.form.quantity }}">
                </td>
            </tr>
            <!-- <input checked type="checkbox" name="isAvail" value="{{ form.availability }}">
            <label for="isAvail">Set item to Available?</label><br><br> -->

            <label class="checkbox is-medium">
                {{ form.availability }}
                Set item to Available?
            </label>
            
        </tbody>
    </table>

        <div class="buttons has-addons is-centered">
            <button type="submit" class="button is-block is-danger is-normal">
                Update
            </button>
        </div>

</form>

<!-- <form method="POST">
    {{ form.csrf_token }}
    <table class="table" style="margin-left:auto;margin-right:auto;">
        <tbody class="tbody">
            <tr>
                <td><b> Quantity: </b></td>
                <td>
                    <input class="input" type="numeric" placeholder="Eg. 100" name="quatity"
                        value="{{ request.form.quantity }}">
                </td>
            </tr>
        </tbody>
    </table>

        <div class="buttons has-addons is-centered">
            <button type="submit" class="button is-block is-danger is-normal">
                Update
            </button>
        </div>

</form> -->

{% endblock %}