{% extends "base.html" %}

{% block content %}
<body>
	<h1 class="title" style = "font-size: 200%;">
	Welcome to {{ rname }}
	</h1>
	<h1>
	{% if cart_list == [] %}
	You have no orders
	{% endif %}
	{% if not cart_list == [] %}
	<table class="table" style="margin-left:auto;margin-right:auto;">
	    <thead class="thead">
		    <tr>
		        <th>Food Item</th>
		        <th>Quantity</th>
		        <th>Cost</th>
		    </tr>
		</thead>
		<tbody>
        {% for item in cart_list %}
        <tr>
            <td>{{item.fname}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.food_cost}}</td>
        </tr>
        {% endfor %}
        <tr>
        	<td></td>
        	<td>Total Cost:</td>
        	<td>{{total_cost}}</td>
        </tr>

	    </tbody>
	</table>
	<!-- Your current order is {{ cart_list }} -->
	{% endif %}
	</h1>
	<section class="section">
	    <form action = "" method="POST">
	      <div class="column">
	      	{{ form.csrf_token }}
	        <div>
	          <font size="6"><b>Food:</b></font>
	          <div class = "select"> 
	          {{ form.fname }}
	          </div>
	        </div>
	        <div>
	          <font size="6"><b>Quantity:</b></font>
	          <div class = "select"> 
	            {{ form.quantity }}
	          </div>
	        </div>
	        <script>
	          var rname = '{{ runame }}';
	          let fname_select = document.getElementById('fname');
	          let quantity_select = document.getElementById('quantity');


	          fname_select.onchange = function() {
	            fname = fname_select.value; //get rname value

	            fetch('/quantity/' + fname +'/'+ rname ).then(function(response) { //get response object
	              response.json().then(function(data) {

	                let optionHTML = '';

	                for (let quantity of data.quantity){ //data.rname is an array of rname from /fname/rname

	                  optionHTML += '<option value = "' + quantity.id + '">' + quantity.quantity + '</option>'; //create options for html

	                }
	                quantity_select.innerHTML = optionHTML; //replace inner html in forms
	              });

	            }); 

	          }

	        </script>
	        <div>
	          <div class= "buttons has-addons is-centered">
	            <button class="button is-block is-info is-medium button-padding-horizontal:2em" type = "submit">Add</button>
	          </div>
	        </div>
	      </div>
	    </form>
	    <div class= "buttons has-addons is-centered">
          <a href = "/{{rname}}/address">
                <button class="button is-block is-danger is-small button-padding-horizontal:2em">Next</button>
            </a>
        </div>
	</section>
</body>

{% endblock %}