{% extends "baseDeliveryStaff.html" %}

{% block content %}
<h3 class="title" style = "font-size: 300%;  ">
  Completed Deliveries
</h3>

<table class="table" style="margin-left:auto;margin-right:auto;font-size: 14px;">
    <thead class="thead">
        <tr>
            <th>Order ID</th>
			<th>Restaurant</th>
			<th>Restaurant Address</th>
            <th>Customer Username</th>
			<th>Order Date</th>
            <th>Order Time</th>
			<th>Delivery Address</th>
            <th>Payment Type</th>
			<th>Total Payment</th>
            <th>Depart for Restaurant</th>
			<th>Arrive at Restaurant</th>
			<th>Depart for Customer</th>
			<th>Arrive at Customer</th>
			<th>Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for deliveries in completed_list %}
        <tr>
            <td>{{deliveries.orderId}}</td>
            <td>{{deliveries.rname}}</td>
			<td>{{deliveries.restaurantAddress}}</td>
            <td>{{deliveries.cuname}}</td>
			<td>{{deliveries.order_date}}</td>
            <td>{{deliveries.order_time}}</td>
			<td>{{deliveries.deliveryAddress}}</td>
            <td>{{deliveries.payment_type}}</td>
			<td>${{deliveries.total_payment}}</td>
			<td>{{deliveries.depart_restaurant}}</td>
            <td>{{deliveries.arrive_restaurant}}</td>
			<td>{{deliveries.depart_customer}}</td>
            <td>{{deliveries.arrive_customer}}</td>
			<td>{{deliveries.rating}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}