{% extends "manageDeliveryStaff.html" %}

{% block content %}
<h1 class="title" style="font-size: 300%;  ">
    Create New Delivery Staff
</h1>

<form method="POST">
    {{ form.csrf_token }}
    <table class="table" style="margin-left:auto;margin-right:auto;">
        <tbody class="tbody">
            <tr>
                <td><b> Delivery Staff Username </b></td>
                <td>
                    <input class="input" type="text" placeholder="Eg. PartTime1" name="uname"
                        value="{{ request.form.uname }}">
                </td>
            </tr>
            <tr>
                <td><b> Account Password </b></td>
                <td>
                    <input class="input" type="password" name="password" value="{{ request.form.password }}">
                </td>
            </tr>
            <tr>
                <td><b> Delivery Staff Name </b></td>
                <td>
                    <input class="input" type="text" placeholder="eg. Jack" name="dname"
                        value="{{ request.form.dname }}">
                </td>
            </tr>
            <tr>
                <td><b> Flat Rate </b></td>
                <td>
                    <div class="select">
                        {{ form.flatRate }}
                    </div>
                </td>
            </tr>
            <tr>
                <td><b> Delivery Staff Type </b></td>
                <td>
                    <div class="select">
                        {{ form.staffType }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="buttons has-addons is-centered">
        <button type="submit" class="button is-block is-danger is-normal">
            Create
        </button>
    </div>

</form>

{% endblock %}