{% extends "managePromo.html" %}

{% block content %}
<h1 class="title" style="font-size: 300%;  ">
    Create New FDS Promotion
</h1>

<form method="POST">
    <table class="table" style="margin-left:auto;margin-right:auto;">
        <tbody class="tbody">
            <tr>
                <td><b> Promotion ID </b></td>
                <td>
                    <input class="input" type="number" placeholder="1" name="Promotion ID"
                        value="{{ request.form.promoId }}">
                </td>
            </tr>
            <tr>
                <td><b> Promotion Name </b></td>
                <td>
                    <input class="input" type="text" placeholder="eg. 10% off" name="Promotion Name"
                        value="{{ request.form.promoName }}">
                </td>
            </tr>
            <tr>
                <td><b> Promotion Code </b></td>
                <td>
                    <input class="input" type="text" placeholder="eg. 10OFF" name="Promotion Code"
                        value="{{ request.form.promoCode }}">
                </td>
            </tr>
            <tr>
                <td><b> Start Date </b></td>
                <td>
                    <input class="input" type="date" min="2020-01-01" max="2025-12-01" name="Start Date"
                        value="{{ request.form.start_date }}">
                </td>
            </tr>
            <tr>
                <td><b> End Date </b></td>
                <td>
                    <input class="input" type="date" min="2020-01-01" max="2025-12-01" name="End Date"
                        value="{{ request.form.end_date }}">
                </td>
            </tr>
        </tbody>
    </table>

        <div class="buttons has-addons is-centered">
            <button type="submit" class="button is-block is-danger is-normal">
                Create
            </button>
        </div>

</form>

{% endblock %}