{% extends "baseDeliveryStaff.html" %}

{% block content %}
<h1 class="title" style = "font-size: 300%;  ">
  FDS Delivery Staff Deliveries Page
</h1>
<h2 class="subtitle" style = "font-size: 200%">
    Hi {{ current_user.firstName }}! What would you like to do?
</h2>

<div class="columns">
    <div class="column is-half">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-content">
                    <h5 class="card-title"><b> Current Deliveries </b></h5>
                    <p class="card-text">View and Update Current Deliveries</p>
                    <br>
                    <a href="/deliveriesDeliveryStaff/currentDeliveries" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
    <div class = "column is-half">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-content">
                    <h5 class="card-title"><b> Completed Deliveries </b></h5>
                    <p class="card-text">View Completed Delieveries</p>
                    <br>
                    <a href="/deliveriesDeliveryStaff/completedDeliveries" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
