{% extends "base.html" %}

{% block content %}
<body>
	<h1 class="title" style = "font-size: 200%;">
	Japanese
	</h1>
	<section class="section">
	    <form method="POST">
	      <div class="column">
	        {{ form.csrf_token }}
	        <div>
	          <font size="6"><b>Restaurant:</b></font>
	          <div class = "select"> 
	          {{ form.rname }}
	          </div>
	        </div>
	        <div>
	          <div class= "buttons has-addons is-centered">
	            <button class="button is-block is-info is-medium button-padding-horizontal:2em" type = "submit">Select</button>
	          </div>
	        </div>
	      </div>
	    </form>
	</section>
</body>

{% endblock %}