{% extends "base.html" %}

{% block content %}
<body>
	<h1 class="title" style = "font-size: 200%;">
	Japanese
	</h1>
	<section class="section">
	    <form method="POST">
	      <div class="column">
	        {{ form.csrf_token }}
	        <div>
	          <font size="6"><b>Restaurant:</b></font>
	          <div class = "select"> 
	          {{ form.rname }}
	          </div>
	        </div>
	        <div>
	          <font size="6"><b>Food:</b></font>
	          <div class = "select"> 
	            {{ form.fname }}
	          </div>
	        </div>
	        <script>
	          let rname_select = document.getElementById('rname');
	          let fname_select = document.getElementById('fname');

	          rname_select.onchange = function() {
	            rname = rname_select.value; //get rname value

	            fetch('/fname/' + rname).then(function(response) { //get response object
	              response.json().then(function(data) {

	                let optionHTML = '';

	                for (let fname of data.fname){ //data.rname is an array of rname from /fname/rname

	                  optionHTML += '<option value = "' + fname.id + '">' + fname.fname + '</option>'; //create options for html

	                }
	                fname_select.innerHTML = optionHTML; //replace inner html in forms
	              });

	            }); 

	          }

	        </script>
	        <div>
	          <div class= "buttons has-addons is-centered">
	            <button class="button is-block is-info is-medium button-padding-horizontal:2em" type = "submit">Add to cart</button>
	          </div>
	        </div>
	      </div>
	    </form>
	</section>
</body>

{% endblock %}