{% extends "adminManager.html" %}

{% block content %}
<h1 class="title" style = "font-size: 300%;  ">
  FDS Manage Delivery Staff
</h1>
<table class="table" style="margin-left:auto;margin-right:auto;">
    <thead class="thead">
        <tr>
            <th>Delivery Staff Name</th>
            <th>Rating</th>
            <th>Delete?</th>
        </tr>
    </thead>
    <tbody>
        {% for dstaff in dstaff_list %}
        <tr>
            <td>{{dstaff.dName}}</td>
            <td>{{dstaff.dRating}}</td>
            <td style="text-align: center;">
                <div class= "buttons has-addons is-centered">
                    <button class="button is-block is-info is-small" type = "submit">Delete</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

            
<div class= "buttons has-addons is-centered">
    <button class="button is-block is-info is-small" type = "submit">Create New Delivery Staff</button>
</div>

{% endblock %}

