{% extends "base_profile.html" %}

{% block content %}

    <!-- <div class="container"> -->
        <section class="hero is-success welcome is-small is-bold">
            <div class="hero-body">
                <div class="container has-text-left">
                    <h1 class="title" style = "font-size: 200%;">
                        Welcome to {{ rname }}
                    </h1>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <ul class="menu-list">
                        <li><a class="is-static" href = "/order/{{rname}}">1. Order Food</a></li>
                        <br>
                        <li><a class="is-static" href = "/order/{{rname}}/address">2. Address</a><li>
                        <br>
                        <li><a class="is-active">3. Payment</a><li>
                        <br>
                        <li><a class="is-static">4. Order Confirmation</a><li>
                    </ul>
                </aside>
            </div>
            <div id = 'profile' class="column is-9">
                <section class="hero is-small">
                    <h1>
                    {% if cart_list == [] %}
                    You have no orders
                    {% endif %}
                    {% if not cart_list == [] %}
                    <table class="table" style="margin-left:auto;margin-right:auto;">
                        <thead class="thead">
                            <tr>
                                <th>Food Item</th>
                                <th>Quantity</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in cart_list %}
                        <tr>
                            <td>{{item.fname}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.food_cost}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            {% if discount == 0 %}
                            <td>Delivery Cost:</br>Total Cost:</td>
                            <td>{{delivery_fee}}</br>{{food_cost + delivery_fee-discount}}</td>
                            {% endif %}
                            {% if discount != 0 %}
                            <td>Delivery Cost:</br>Discount:</br>Total Cost:</td>
                            <td>{{delivery_fee}}</br>-{{discount}}</br>{{food_cost + delivery_fee-discount}}</td>
                            {% endif %}
                        </tr>

                        </tbody>
                    </table>
                    <!-- Your current order is {{ cart_list }} -->
                    {% endif %}
                    </h1>
                </section>
                <section class="section">
                    <form action = "" method="POST">
                      <div class="column">
                        {{ form.csrf_token }}
                        <div>
                          <font size="6"><b>Choose a payment method:</b></font>
                          <div class = "select"> 

                          {{ form.payment_method }}
                          </div>

                        </div>
                        <br>
                        <form action = "" method = "POST">
                            {{ form2.csrf_token }}
                            <div class="field has-addons has-addons-centered">
                                <font size="5"><b>Add a promo:</b></font><input class="input" type="text" style="width: 23%;" placeholder= "Promo Code" name = "promo" value = "{{ request.form.promo }}">
                                
                                <div class= "buttons has-addons">
                                    <button class="button is-block is-info" type = "submit" name="action" value="promo">Add</button>
                                </div>
                            </div>
                            <ul>
                                {% for error in form2.promo.errors %}
                                    <li style = "color: red; font-style: courier; font-size: 80%;  ">{{ error }}</li> 
                                {% endfor %}
                            </ul>
                        </form>  
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <font color="red">{{message}}</font>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}                     
                        <br>
                        <label class="checkbox is-medium">
                            {{ form.points }}
                            Use points to offset delivery fee? 
                            You currently have <b>{{ points }}</b> points.
                        </label>
                        <br>
                        <br>
                        <div class= "buttons has-addons is-centered">
                            <button class="button is-block is-light is-medium" type = "submit" name="action" value="pay">Pay</button>
                        </div>
                      </div>
                    </form>
                </section>                
            </div>
        </div>
    <!-- </div> -->

    <!-- <script async type="text/javascript" src="../js/bulma.js"></script> -->
{% endblock %}