{% extends "base_profile.html" %}

{% block content %}

    <!-- <div class="container"> -->
        <section class="hero is-success welcome is-small is-bold">
            <div class="hero-body">
                <div class="container has-text-left">
                    <h1 class="title" style = "font-size: 200%;">
                        Welcome to {{ rname }}
                    </h1>
                    <font size = "4">Click <a id = "btn" style="color:white;"><b>here</b></a> to see our reviews!</font>
                    <font size = "4">Or <a id = "btn2" style="color:white;"><b>here</b></a> to see menu!</font>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <div class="columns">

            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <ul class="menu-list">
                        <li><a class="is-active" href = "/order/{{rname}}">1. Order Food</a></li>
                        <br>
                        <li><a class="is-static">2. Address</a><li>
                        <br>
                        <li><a class="is-static">3. Payment</a><li>
                        <br>
                        <li><a class="is-static">4. Order Confirmation</a><li>
                    </ul>
                </aside>
                <br>

                <!-- <div class="buttons">
                  <font size="2"><b>Check out food reviews here:</b></font>
                  <button class="button is-success is-light" id = "btn">Reviews</button>
                </div> -->
            </div>
            <div id = 'profile' class="column is-9">
                <section class="hero is-small">
                    <h1>
                    {% if cart_list == [] %}
                    You have no orders
                    {% endif %}
                    {% if not cart_list == [] %}
                    <table class="table" style="margin-left:auto;margin-right:auto;">
                        <thead class="thead">
                            <tr>
                                <th>Food Item</th>
                                <th>Quantity</th>
                                <th>Cost</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in cart_list %}
                        <tr>
                            <td>{{item.fname}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.food_cost}}</td>
                            <td>
                            <div class= "buttons has-addons is-centered">
                              <a href="/order/{{item.rname}}/{{item.fname}}/{{item.quantity}}">
                                    <button class="button is-block is-danger is-small button-padding-horizontal:2em">Delete</button>
                                </a>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td>Delivery Cost:</br>Total Cost:</td>
                            <td>{{delivery_fee}}</br>{{total_cost + delivery_fee}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Your current order is {{ cart_list }} -->
                    {% endif %}
                    </h1>
                </section>
                <section class="section">
                    <form action = "" method="POST">
                      <div class="column">
                        {{ form.csrf_token }}
                        <div>
                          <font size="6"><b>Food:</b></font>
                          <div class = "select"> 
                          {{ form.fname }}
                          </div>
                        </div>
                        <div>
                          <font size="6"><b>Quantity:</b></font>
                          <div class = "select"> 
                            {{ form.quantity }}
                          </div>
                        </div>
                        <script>
                          var rname = '{{ runame }}';
                          let fname_select = document.getElementById('fname');
                          let quantity_select = document.getElementById('quantity');


                          fname_select.onchange = function() {
                            fname = fname_select.value; //get rname value

                            fetch('/quantity/' + fname +'/'+ rname ).then(function(response) { //get response object
                              response.json().then(function(data) {

                                let optionHTML = '';

                                for (let quantity of data.quantity){ //data.rname is an array of rname from /fname/rname

                                  optionHTML += '<option value = "' + quantity.id + '">' + quantity.quantity + '</option>'; //create options for html

                                }
                                quantity_select.innerHTML = optionHTML; //replace inner html in forms
                              });

                            }); 

                          }

                        </script>
                        <div>
                          <div class= "buttons has-addons is-centered">
                            <button class="button is-block is-info is-medium button-padding-horizontal:2em" type = "submit">Add</button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <br>
                    {% if total_cost >= min_amt %}
                    <div class= "buttons has-addons is-centered">
                      <a href = "/order/{{rname}}/address">
                            <button class="button is-block is-light is-medium button-padding-horizontal:2em">Next</button>
                        </a>
                    </div>
                    {% endif %}
                    {% if total_cost < min_amt %}
                    <sup>*</sup>Minimum order for {{ rname }} is ${{ min_amt }}.
                    {% endif %}
                    <div class="modal" id="myModal">
                      <div class="modal-background"></div>
                      <div class="modal-card">
                        <header class="modal-card-head">
                          <p class="modal-card-title">Reviews</p>
                          <button class="delete" aria-label="close" data-bulma-modal="close"></button>
                        </header>
                        <section class="modal-card-body">
                            <div class = "content">
                            {% if not review_list == [] %}
                                {% for i in review_list %}
                                  <h4 align = "left">{{i[0]}}:</h4>
                                  <p style="word-wrap: break-word;" align = "left">{{i[1]}}</p>
                                  <br>
                                {% endfor %}
                            {% endif %}
                            {% if review_list == [] %}
                            <p> No reviews available :( </p>
                            {% endif %}
                            </div>

                        </section>
                        <footer class="modal-card-foot">
                          <button class="button" data-bulma-modal="close">Back</button>
                        </footer>
                      </div>
                    </div>

                    

                    <script>
                    class BulmaModal {
                        constructor(selector) {
                            this.elem = document.querySelector(selector)
                            this.close_data()
                        }
                        
                        show() {
                            this.elem.classList.toggle('is-active')
                            this.on_show()
                        }
                        
                        close() {
                            this.elem.classList.toggle('is-active')
                            this.on_close()
                        }
                        
                        close_data() {
                            var modalClose = this.elem.querySelectorAll("[data-bulma-modal='close'], .modal-background")
                            var that = this
                            modalClose.forEach(function(e) {
                                e.addEventListener("click", function() {
                                    
                                    that.elem.classList.toggle('is-active')

                                    var event = new Event('modal:close')

                                    that.elem.dispatchEvent(event);
                                })
                            })
                        }
                        
                        on_show() {
                            var event = new Event('modal:show')
                        
                            this.elem.dispatchEvent(event);
                        }
                        
                        on_close() {
                            var event = new Event('modal:close')
                        
                            this.elem.dispatchEvent(event);
                        }
                        
                        addEventListener(event, callback) {
                            this.elem.addEventListener(event, callback)
                        }
                    }

                    var btn = document.querySelector("#btn")
                    var mdl = new BulmaModal("#myModal")

                    btn.addEventListener("click", function () {
                        mdl.show()
                    })

                    mdl.addEventListener('modal:show', function() {
                        console.log("opened")
                    })

                    mdl.addEventListener("modal:close", function() {
                        console.log("closed")
                    })
                    </script>

                    <div class="modal" id="myModal2">
                      <div class="modal-background"></div>
                      <div class="modal-card">
                        <header class="modal-card-head">
                          <p class="modal-card-title">Reviews</p>
                          <button class="delete" aria-label="close" data-bulma-modal="close"></button>
                        </header>
                        <section class="modal-card-body">
                            <div class = "content">
                            {% if not menu_list == [] %}
                            <table class="table" style="margin-left:auto;margin-right:auto;">
                                <thead class="thead">
                                    <tr>
                                        <th>Food Item</th>
                                        <th>Price</th>
                                        <th>Quantity Left</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in menu_list %}
                                <tr>
                                    <td>{{i[0]}}</td>
                                    <td>{{i[1]}}</td>
                                    <td>{{i[2]}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                            {% if menu_list == [] %}
                            <p> We're sold out for today! </p>
                            {% endif %}
                            </div>
                        </section>
                        <footer class="modal-card-foot">
                          <button class="button" data-bulma-modal="close">Back</button>
                        </footer>
                      </div>
                    </div>

                    <script>
                    var btn2 = document.querySelector("#btn2")
                    var mdl2 = new BulmaModal("#myModal2")

                    btn2.addEventListener("click", function () {
                        mdl2.show()
                    })

                    mdl2.addEventListener('modal:show', function() {
                        console.log("opened")
                    })

                    mdl2.addEventListener("modal:close", function() {
                        console.log("closed")
                    })
                    </script>
                </section>                
            </div>
        </div>
    <!-- </div> -->

    <!-- <script async type="text/javascript" src="../js/bulma.js"></script> -->
{% endblock %}