{% extends "base_profile.html" %}

{% block content %}

    <!-- <div class="container"> -->
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label has-text-left">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a href = "/profile">Profile</a></li>
                        <li><a href="/profile/password">Change Password</a><li>
                    </ul>
                    <p class="menu-label has-text-left">
                        Orders
                    </p>
                    <ul class="menu-list">
                        <li><a href="/profile/currentOrders">Current Orders</a></li>
                        <li><a href="/profile/pastOrders">Past Orders</a></li>
                        <li><a href="/profile/reviews">Reviews</a></li>
                    </ul>
                    <p class="menu-label has-text-left">
                        Manage Cards
                    </p>
                    <ul class = "menu-list">
                        <li><a class="is-active" href="/profile/addCreditCard">Add Credit Card</a></li>
                        <li><a href="/profile/viewCards">View Cards</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <section class="hero is-info welcome is-small is-bold">
                    <div class="hero-body">
                        <div class="container has-text-left">
                            <h1 class="title">
                                Hello, {{ current_user.firstName }}.
                            </h1>
                           
                        </div>
                    </div>
                </section>
                <section class="hero is-small">
                    <div class="column is-one-third">
                        <div class="container has-text-left">
                            <form method="POST">
                                <div class="field">
                                    <p class="control">
                                    {{ form.csrf_token }}
                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                <input class="input" type="text" placeholder= "Card Number" name = "cc" value = "{{ request.form.cc }}">

                                                <ul>
                                                    {% for error in form.cc.errors %}
                                                        <li style = "color: red; font-style: courier; font-size: 80%;  ">{{ error }}</li> 

                                                    {% endfor %}
                                                </ul>

                                            </div>
                                        </div>
                                        <font size="5"><b>Bank:</b></font>
                                        <div class = "select"> 
                                            {{ form.bank }}
                                        </div>
                                        <br>
                                        <br>
                                        <div class= "buttons has-addons is-left">
                                            <button class="button is-block is-danger is-normal" type = "submit">Add Card</button>
                                        </div>
                                        {% with messages = get_flashed_messages() %}
                                            {% if messages %}
                                                {% for message in messages %}
                                                    {{message}}
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                        
                                    </p>
                                        
                                </div>
                            </form>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    <!-- </div> -->

    <!-- <script async type="text/javascript" src="../js/bulma.js"></script> -->
{% endblock %}