{% extends "base.html" %}

{% block content %}

<body>
  <section class="section">
    <div class="container">
    {% if current_user.is_authenticated %}
    <h2 class="subtitle" style = "font-size: 200%">
      Welcome {{ current_user.firstName }}! Click <a style="font-weight:bold" href = "/">here</a> to start ordering now!
    </h2>
    {% endif %}
    {% if not current_user.is_authenticated %}
    <h2 class="subtitle" style = "font-size: 200%">
      There was an issue with your registration. Please try again.
    </h2>
    {% endif %}
    </div>
</body>
{% endblock %}